	
	<div class="row">
		<span class="span5" id="product_main">
				<div class="product_intro row" >
					<h2 class="span8"><%= @product.title %></h2>
					<p class="span8"><%= @product.description %></p>			
				</div>
				
				<div class="visible-desktop visible-tablet hidden-phone">
				<ul class="thumbnails row">
					<li class="span6">
						<%= link_to product_path(@product) do %>
							<% if @product.photo.present? %>
								<%= image_tag(@product.photo.image.medium.url, class: "thumbnail") %>
							<% else %>
								<%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbail") %>
							<% end %>
						<% end %>
					</li>
				</ul>	
				</div>
			</span>
			<div class="push"></div>
			<div class="push"></div>
				<form>
				<span class="span3 " id="product_side">
					<div id="product_side_2">
						<h3>數量 : <%= @product.quantity %></h3>	
						<strike><h3>原價 	 : <%= (@product.price*1.1).to_i %></h3></strike>
					</div>
					<h3>特價 	 : <%= @product.price %></h3>
					<% if @product.quantity > 0 %>
						<%= link_to("Add to cart", add_to_cart_product_path(@product), method: :post, class: "btn btn_large") %>
					<% else %>
						<%= link_to("Sold out", "#", class: "btn btn_large disabled") %>
					<% end %>		
				</form>
			</span>
		</div>
<div class="push"></div>