	
	<div class="row">
		<span class="span5" id="product_main">
				<div class="product_intro row" >
					<h2 class="span8"><%= @product.title %></h2>
					<p class="span8"><%= @product.description %></p>			
				</div>
				
				<div class="visible-desktop visible-tablet hidden-phone">
				<ul class="thumbnails row">
					<li class="span6">
						<%= link_to product_path(@product) do %>
							<% if @product.photo.present? %>
								<%= image_tag(@product.photo.image.medium.url, class: "thumbnail") %>
							<% else %>
								<%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbail") %>
							<% end %>
						<% end %>
					</li>
				</ul>	
				</div>
			</span>
			<div class="push"></div>
			<div class="push"></div>
			<span class="span3 offset1" id="product_side">
				<form>
					<h3>Quantity : <%= @product.quantity %></h3>	
					<div class="push"></div>
					<% if @product.quantity > 0 %>
						<%= link_to("Add to cart", add_to_cart_product_path(@product), method: :post, class: "btn btn_large") %>
					<% else %>
						<%= link_to("Sold out", "#", class: "btn btn_large disabled") %>
					<% end %>
					</ul>		
				</form>
				<div id="pruduct_share">
					<span class='st_sharethis_large' displayText='ShareThis'></span>
					<span class='st_facebook_large' displayText='Facebook'></span>
					<span class='st_twitter_large' displayText='Tweet'></span>
					<span class='st_pinterest_large' displayText='Pinterest'></span>
					<span class='st_email_large' displayText='Email'></span>
				</div>
			</span>
		</div>
<div class="push"></div>